html, body{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

main{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner{
    position: relative;
    width: 100%;    
    height: 100vh;
    background: linear-gradient(90deg,#181025 14%, #2D1D45 60%, #35254B 80%);
    display: flex;
    align-items: center;
    flex-direction: row;
    background-size: 100% 100%;
}

.banner-info{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-left: 10%;
}

.banner-info h1{
    font-size: 5rem;
    font-weight: bold;
    color: #DADADA;
    margin: 0;
    text-shadow: 5px 5px 15px rgba(218, 218, 218, .15);
}

.text-rainbow{
    background-clip: text;
    background: linear-gradient(90deg,#99009C 20%, #7817FF 80%);
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.banner img{
    position: relative;
    width: 50%;
    height: fit-content;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.banner-call-to-action{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.banner-call-to-action button{
    position: relative;
    padding: 10px 20px;
    color: #DADADA;
    background-color: #7817FF;
    border: 1px solid #DADADA;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.banner-info p{
    position: relative;
    color: #DADADA;
    font-size: 1rem;
    margin: 0;
}

.banner-call-to-action button:nth-child(2){
    background-color: #2D1D45;
}

.section-magic-ponis{
    position: relative;
    margin: 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.container-sized{
    position: relative;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.contaner-cards{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.contaner-cards > div{
    position: relative;
    border-radius: 10px;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.2s ease-in-out;
}

.contaner-cards > div:hover{
    transform: scale(1.05);
}

.img-33{
    width: 33%;
}

.img-66{
    width: 66%;
}

.ponis-meeting{
    background-image: url("../imgs/ponis-meeting.jpg");
}
.cover{
    background-image: url("../imgs/cover.jpg");
}

.section-magic-ponis h2{
    text-align: center;
    font-size: 3rem;
}

.banner-mid{
    position: relative;
    background-image: url("../imgs/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.banner-mid h2{
    text-align: center;
    font-size: 3rem;
    color: #DADADA;
    z-index: 10;
}

.container-opacity{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}